services:
  - type: web
    plan: free
    runtime: image
    name: evolution-api
    image:
      url: docker.io/atendai/evolution-api:latest

    envVars:
      - key: PORT
        value: 8080
      - key: ENVIRONMENT
        value: production
